<div class="container">
  <h1>CONVERTER</h1>
  <div class="converter-wrapper">
    <div class="curr-container">
      <label for="curr1">Currency</label>
      <select (change)="onSelectCurr1($event)" id="curr1">
        <option
          *ngFor="let currency of currencies"
          [value]="currency"
          [selected]="currency === 'UAH'"
        >
          {{ currency }}
        </option>
      </select>
      <label for="amount1">Amount</label>
      <input
        id="amount1"
        (keyup)="onInputCurr1($event)"
        (mousedown)="onInputCurr1($event)"
        type="number"
        [value]="result1.toFixed(2)"
      />
    </div>
    <div class="curr-container">
      <label for="curr2">Currency</label>
      <select (change)="onSelectCurr2($event)" id="curr2">
        <option
          *ngFor="let currency of currencies"
          [value]="currency"
          [selected]="currency === 'EUR'"
        >
          {{ currency }}
        </option>
      </select>
      <label for="amount2">Amount</label
      ><input
        id="amount2"
        (keyup)="onInputCurr2($event)"
        (mousedown)="onInputCurr2($event)"
        type="number"
        [value]="result2.toFixed(2)"
      />
    </div>
  </div>
</div>
